<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


{{#if isAdmin}}
    This user is an admin
{{/if}}

{{#if isVendor}}
    This user is an admin
{{/if}}

{{#if isEmployee}}
    This user is an admin
{{/if}}
