<div class="index-content">
<h1>{{title}}</h1>
<h3>Welcome to Marcos' Online Liquor Store</h3>

    <p>To edit, delete and view all vendors, click the button below</p>
    <div class="index-buttons">
         <button class="all-vendors"><a href="/vendors/index">Vendors</a></button>
  <p>To edit, delete and view all liquor, click the button below</p>
   <button class="all-liquor"><a href="/liquor/index">Inventory</a></button>
     </div>
</div>
