
<h2>Create New Account</h2>


<form action="/users/signup" method="POST">

    <div>
    <label >Username</label>
    <input type="text" name="username">
    </div>

    <div>
    <label >Password</label>
    <input type="text" name="password">
    </div>

    <div>
        <label>Is This User An Administrator?</label>
        <input name="role" type="checkbox" value="Administrator">
      
    </div>
    <div>  
        <label>Is This User An Employee?</label>
        <input name="role" type="checkbox" value="Employee">
    </div>
    <div> 
        <label>Is This User A Vendor?</label>
        <input name="role" type="checkbox" value="Vendor">
    </div>

<button>Submit</button>


</form>