<div class="signup-page">
<form id="form" action="/users/signup" method="POST">
    <label for="username">Username</label><br>
    <input type="text" name="username"
      placeholder="Your username">
      <br>

    <label for="password">Password</label><br>
    <input type="password" name="password"
      placeholder="********">
      <br>
      <div>
    Is this user an Administrator?
    <input type="checkbox" name="role" value="Administrator">
    </div>
      <div>  
        <label>Is This User An Employee?</label>
        <input name="role" type="checkbox" value="Employee">
    </div>
    <div> 
        <label>Is This User A Vendor?</label>
        <input name="role" type="checkbox" value="Vendor">
    </div>
<br>
    <button type="submit">Create account</button>
  </form>
</div>
